table {
  width: auto;
  min-width: 380px;
  table-layout: fixed;

  th, td {
    white-space: nowrap;
    padding: 0.5rem 1rem;
  }

  td:first-child,
  th:first-child {
    width: 40px;
    text-align: center;
  }

  td:nth-child(2),
  th:nth-child(2) {
    width: 90px;
  }

  td:nth-child(3),
  th:nth-child(3) {
    width: 80px;
    font-weight: 500;
  }

  td:last-child,
  th:last-child {
    width: 80px;
    text-align: center;
  }

  button {
    padding: 0.4rem 1rem;
    font-size: 0.875rem;

    &.danger {
      background-color: #ef4444;

      &:hover:not(:disabled) {
        background-color: #dc2626;
      }
    }

    &.warning {
      background-color: #f59e0b;

      &:hover:not(:disabled) {
        background-color: #d97706;
      }
    }
  }
}
