<div class="filter-controls">
  @if (isLoading()) {
    <p>Loading...</p>
  } @else if (errorMessage()) {
    {{ errorMessage() }}
  } @else {
    <div class="control-group">
      <label for="query">Search:</label>
      <input id="query"
             type="text"
             #queryInput
             (input)="onQuery(queryInput.value)">
    </div>
    <div class="control-group">
      <label for="category-input">Choose Category:</label>
      <input id="category-input"
             list="categories"
             placeholder="Filter category..."
             #categoryInput
             (input)="onCategoryChange(categoryInput.value)">
      <datalist id="categories">
        @for (cat of categories(); track cat) {
          <option [value]="cat">
        }
      </datalist>
    </div>
  }
</div>

<div>
  <app-product-table [products]="products().data"
                     [isLoading]="products().loading"
                     [hasSearchTerm]="products().active"/>
</div>
