<ng-template #folder
             folderNode
             let-node let-depth="depth">

  <div class="node"
       (click)="toggleDisplay(node)"
       [style.padding-left.rem]="depth * 1.5">
    <span class="node-icon">{{ fileIcon(node) }}</span>
    <span class="node-name" [class.folder]="node.children.length > 0">{{ node.name }}</span>
  </div>
  @if (!nodeSet().has(node.id)) {
    @for (f of node.children; track f.id) {
      <ng-container [ngTemplateOutlet]="folder"
                    [ngTemplateOutletContext]="{$implicit: f, depth: depth + 1}"/>
    }
  }
</ng-template>

<div class="tree">
  <ng-container [ngTemplateOutlet]="folder"
                [ngTemplateOutletContext]="{$implicit: root, depth: 0}"/>
</div>
