.scroll-container {
  height: 100px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    text-align: left;
    th {
      position: sticky;
      top: 0;
      background: #262626;
      border-bottom: 2px solid #374151;
    }

  }
  tbody{
    td{
      text-align: left ;
    }
  }
}
