<div class="data-table">
  <table>
    <caption>{{ title() | titlecase }}</caption>
    <thead>
    <tr>
      @for (col of columnHeaders()|keyvalue:null; track col.key) {
        <th>{{ col.value | titlecase }}</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (row of data(); track $index) {
        <tr>
          <ng-container [ngTemplateOutlet]="rowTemplate()"
                        [ngTemplateOutletContext]="{$implicit:row, index:$index}"/>
        </tr>
      }
    </tbody>
  </table>
</div>
