<h1>Search</h1>
<section>
  <input [(ngModel)]="query" type="text">
</section>
<section>
  <h2>Result</h2>
  @let res = results();
  @if (isLoading()) {
    <p>Loading...</p>
  } @else {
    @for (user of res; track user.id) {
      <p>
        {{ user.id }} - {{ user.firstName }} - {{ user.lastName }} - {{ user.bloodGroup }}
      </p>
    } @empty {
      <p>No results match the search.</p>
    }
  }
</section>
<section>
  <h2>Products</h2>
  @for (prod of products(); track prod.id) {
   {{prod}}
  }
</section>
